body{
	font-family: 'Roboto', sans-serif; 
	background-color: #fcfdff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23f7fafe' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23f3f7fd' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23f0f4fc' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23edf2f9' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23ebeff6' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23eaedf2' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23e9ebee' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

h1{
	color:#0c6cd4; 
	font-weight: 700;
	font-size: 2rem;
}

.logo {
	height: 50px;
}

.optin{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box{
	background: #FFFFFF;
	box-shadow: 0 0 30px 0 rgba(12,56,93,0.14);
	border-radius: 10px;
	padding: 50px;
	max-width: 960px;
	border-top: 10px solid #0c6cd4;
}

.note{
	font-size: 20px;
}

.form .btn{
	background: #E26474;
	border-radius: 5px;
	width: 400px;
	height: 60px;
	font-weight: 700;
	border: none;
	font-size: 1.5rem;
	padding-top: 12px;
}

.check img{
	width: 150px;
	margin: auto;
}

.footer, .footer a{
	font-size: 14px;
	color:#193D69; 
}




/*timer*/
.timer{
	background-color: transparent;
	font-size: .5rem;
	color:#9B9B9B;
}

.timer::before,.timer::after {
	display: inline-block;
	content: "";
	border-top: 1px solid #4E69A2;
	width: 12%;
	transform: translateY(-2rem);
}

.timer .ce-days, .timer .ce-hours,.timer .ce-minutes,.timer .ce-seconds{
	font-size: 2.5rem;
	color: #54698D;
	font-weight: 700;
}

/*legel pages*/
.pages_header{
	background-color: #3a4d63;
	padding: 20px 0;
}

.heading-left{
	margin: 30px 0;
	color:#4E69A2;
}
.content{
	width: 70%;
}

@media only screen and (max-width: 1199px) {
	.optin{background-position: 50% 0;}
}

@media only screen and (max-width:991px) {
	.box{top: 50px;width: 640px;padding:80px 30px;}
}

@media only screen and (max-width:768px) {
	h1{font-size: 1.5rem;}
	.note{font-size:1rem;}
	.box{width:90%;}
	.timer::before,.timer::after {width: 30px;}
	.timer .ce-col{margin-left: 10px;margin-right: 10px;}
	.check img{width: 100px;}
	.form-group.w-75{width: 80%!important;}
}

@media only screen and (max-width: 540px){
	.timer{padding: 20px 0;}
	.timer .ce-col {display: inline-block;}
	.timer::before,.timer::after {transform: translateY(-1rem);}
	.timer .ce-days, .timer .ce-hours,.timer .ce-minutes,.timer .ce-seconds{font-size:1.7rem;}
	.box{padding: 40px 15px 20px;}
	.note{margin-bottom: 0;}
	.form .btn{width: 100%; height: 50px;padding-top: 6px;}
	.form-group.w-75{width: 100%!important;}
	.footer p{width: 60%; margin: 0 auto;}
}

@media only screen and (max-width: 425px){
	.timer::before,.timer::after {display: none;} 
	.logo{height: 30px;}
}